{% extends 'base_todo.html' %}

{% block todo_content %}
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        <div>
            <h3>Create Todo</h3>
            <a href="/todos/create/">Click to create todo</a>
        </div>
        <ul>
            {% for todo in todos %}
                <li>
                    <a href="/todos/{{ todo.id }}">{{ todo.title }}</a>
                    {% if todo.completed %}
                        ✅
                    {% endif %}
                    <form action="{% url 'todo_delete' todo.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                    <form action="{% url 'todo_update' todo.id %}" method="get" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Update</button>
                    </form>
                    <form action="{% url 'todo_complete' todo.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Complete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
