{% extends 'base.html' %}

{% block content %}

<div>
    <h3>Todo</h3>
    <p>Register</p>
    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" id="email" placeholder="Email" required/>
        <input type="text" name="first_name" id="first_name" placeholder="First Name"/>
        <input type="text" name="last_name" id="last_name" placeholder="Last Name"/>
        <input type="text" name="username" id="username" placeholder="Username" required/>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <input type="password" name="password2" id="password2" placeholder="Confirm Password" required/>
        <button type="submit">Register</button>
    </form>
    <a href="/">Back to Login</a>
</div>

{% endblock %}
