<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Todo</title>
</head>
<body>
    <h1>this is todo list</h1>
    <div>
        {% for todo in todos %}
            {{todo.title}}
        {% endfor %}
    </div>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Input Title" id="title">
        <textarea name="content" id="content" placeholder="Input Content"></textarea>
        <button>
            Create To Do
        </button>
    </form>
</body>
</html>